<div class="container" id="social">
  <br>
  <br>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>Activism is my rent for living on the planet!</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">Alice Walker</cite>
    </figcaption>
  </figure>
  <br>
  <h3>Activism, Citizenry and Ethics in Software</h3>
  <br>
  <p class="lead">
    I want to share one story from my journey and perhaps a pivotal step in my transition to "a man"; furthermore, how
    I've come to perceive my responsibility as a developer and a citizen.
  </p>
  <img
    src="https://cdn.theatlantic.com/thumbor/kMZbQT0JJKFzr4mN_HPyO13C8-w=/0x0:2000x1125/1920x1080/media/img/2018/02/09/Lewis_lead/original.jpg"
    class="rebel">
  <hr>
  <p class="lead">
    I've been officially a software developer (non-imposter) since 2004 and although the title at my firm is not
    that, I produce new source code almost every day. Now, how I've come to
    this role is a bit complicated in fact, but ultimately my path was computer engineering from hardware, to systems to App Dev. 
  </p>
  <p class="lead">
    From an early age, I had the blessing of learning about hardware repair and by
    extension software. This provided me with a good foundation to have interesting consulting opportunities
    with many companies from 22 years onward.
  </p>
  <p class="lead">By the time I was 26, I landed another sweet consulting opportunity with an interactive
    pharmaceutical company based in Canada with connections to a Minnesota IT consulting firm. In Canada, 
    there are strict limits on how a company can advertise prescription drugs to its consumers. As a result, 
    they would sub-contract a portion of the development to other firms--like the consulting
    firm where I worked as a software development consultant. 
  </p>
  <p class="lead">
    This firm was consulted to create a series of
    web applications for medical related purposes and other applications--including diagnosing medical conditions
    based on surveyed data. On the other hand, this specific survey was crafted to give the <strong>appearance of 
    presenting general information</strong> about the symptoms their drugs are meant to address. Important to note, this project
    specifically targeted men of color--black and brown, between the ages of 26 and 45 years old. One of the features 
    of the software was a survey that solicits feedback based on a set of symptoms a patient may be experiencing, 
    and based on the responses, recommends a type of medication. When I received the requirements, they 
    contained questions and answers--no rules for what should occur, the basis of those answers. All
    responses led to a recommendation for the pharmaceutical companies' medication. After coding this solution, 
    the only exception to the rules that would not lead to a recommendation was A.) you are already taking
    or B.) known allergy.
  </p>
  <p class="lead">I wish I could tell you I felt bad about my role in building 
    software that intentionally deceived its users--men like me, men of color, but the truth is, in the early days,
    I coded to live and was oblivious to the downstream impact. The work I was doing was not illegal, I was 
    just building software... right? I chalked it up to work of a marketing firm and moved on with learnings. 
    I recall my girlfriend and I having a few conversations about this software, she would ask "Babe, you
    don't feel a little weird about developing this software?", to which I responded "Nope, look at the 
    learning opportunities and laid back culture, and the pay".
  </p>
  <p class="lead">
    We released the web application shortly before Christmas, 2011 and the client was extremely delighted with the
    output of my efforts; therefore, they invited my team to an expensive dinner at Ruth Chris steak house in downtown Minneapolis. The
    SVP of Marketing wanted to know who I was, and thank me personally. My girlfriend and I were the only minorities
    in attendance at that dinner. I remember quietly eating my steak dinner and trying to smile--while feeling guilty
    about my contributions.
  </p>
  <p class="lead">
    Three months later, a colleague emailed me a link to a news article about a man that had taken the drug from the
    pharmaceutical company we'd built the survey for. The man from the article had commited suicide. 
    It turned out, one of the main side effects of that drug were suicidal thoughts, headaches and depression. 
    This information pushed me over the edge, as this was the event, that changed my perspective. Shortly after, 
    I resigned from that firm. There are a myriad of opportunities for me to rationalize the role I played in
    building that software, and chalk it up to "doing my job". 
    I never felt okay about developing the code for that application.
  </p>
  <hr>
  <img src="assets/IMG_6524.jpg">
  <br>
  <br>
  <p class="lead">
    Maybe we can't all be as aggressive in our approach as Malcolm X, are as effective communicators as Martin Luther King or Barack Obama; nevertheless, as
    citizens of a
    world community, we have a responsibility to make and leave our communities better than we inherited them! As
    software developers, we are sometimes the last line
    of defense against potentially dangerous and unethical practices. Computers and software have play an integral part
    in most of our daily lives, the more critical it is and becomes for us to be vigilant about what we are building;
    for consumption moreover, ensure we aren't silent when our morals or ethics are in conflict with what we want to represent
    in the software we build. Today, software is used to configure and control hardware! It is used to propel self driving
    automobiles, it is used in machine learning and artificial intelligence to train algorithms to 
    diagnose cancer and other diseases and sickness. This is a topic that is critically important for developers to consider.
  </p>
  <hr>
  <img src="https://www.guernicamag.com/wp-content/uploads/2020/06/pp1-e1591974774734-800x449.jpg" class="rebel">
  <br>
  <br>
  <h3>The Rebel</h3>
  <p class="lead">I had a place in Edina, Minnesota during the George Floyd incident, some 3.6 miles away to the mark.
    As a person of
    color having traveled
    throughout the USA and beyond, I've experenced prejudice by the police on a few occasions, but something about
    seeing this event on camera
    woke up America, and brought about a consciousness in many regarding the need to reform, and say "No!". </p>
  <hr>
  <h3>The Reformer</h3>
  <p class="lead">As citizens its equally important to use mainstream instituions to cut through redtape and ultimately
    achieve a
    movements objectives. To that end, we must continue to
    to lobby, promote referenda in support of a movements agenda, support peaceful protests, rallies and any other means
    to support reforms and enjoy our communities.
  </p>
  <hr>
  <h3>The Change Agent</h3>
  <p class="lead">Organizing people in communities around common goals that create power, and those are derived from
    education, which
    leads to power to affect policies. Furthermore,
    we want to promote education that involves majority of citizens and includes the whole society on the issue(s). This
    leads to long term structures in place that have an organic--grasss
    roots origin with long term benefits.
  </p>
  <br>
  <br>
  <br>
  <br>
</div>