<div class="container" id="social">
  <br>
  <br>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>Activism is my rent for living on the planet!</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">Alice Walker</cite>
    </figcaption>
  </figure>
  <br>
  <h3>Getting Involved in Community Activities as a Citizen</h3>
  <p>Maybe we can't all be as influential as Martin Luther King, Ghandi or Barack Obama; nevertheless, as citizens of a
    country and community, we have
    a responsibility to make our communities better! Change begins at home is a well known proverb, but too often
    forgotten
    because of existing commitments and poor priortization of the impact of community contributions. Sometimes
    involvement can be a
    as an activist in a protest to encourage change, more often than not those efforts can be leveraged in community
    centers and around
    higher learning institutions teaching STEM subjects to those who have a desire or need to change.

  </p>
  <img
    src="https://cdn.theatlantic.com/thumbor/kMZbQT0JJKFzr4mN_HPyO13C8-w=/0x0:2000x1125/1920x1080/media/img/2018/02/09/Lewis_lead/original.jpg"
    class="rebel">
  <br>
  <br>
  <hr>
  <h3>The Rebel</h3>
  <p>I had a place in Edina, Minnesota during the George Floyd incident, some 3.6 miles away to the mark. As a person of
    color having traveled
    throughout the USA and beyond, I've experenced prejudice by the police on a few occasions, but something about
    seeing this event on camera
    woke up America, and brought about a consciousness in many regarding the need to reform, and say "No!". </p>
    <hr>
  <h3>The Reformer</h3>
  <p>As citizens its equally important to use mainstream instituions to cut through redtape and ultimately achieve a movements objectives. To that end, we must continue to 
    to lobby, promote referenda in support of a movements agenda, support peaceful protests, rallies and any other means to support reforms and enjoy our communities.
  </p>
  <hr>
  <h3>The Change Agent</h3>
  <p>Organizing people in communities around common goals that create power, and those are derived from education, which leads to power to affect policies. Furthermore,
    we want to promote education that involves majority of citizens and includes the whole society on the issue(s). This leads to long term structures in place that have an organic--grasss
    roots origin with long term benefits.
  </p>
</div>