  <br>
<br>
<h2>Cool Engineering with Three JS</h2>

<div class="container">
<br>
<br>
<h3>Three JS Model of the Solar System</h3>
<p>Astronomy has always interested me, and to have an opportunity to explore a new Javascript framework--that is ThreeJs, was super exciting to work with on this DIY project
  to learn and share with the community at large. 
</p>
<p>The above was built in Typescript in about 2 hours using images and standard Mesh elements from the Three libraries on a canvas. The rotation of the planets around the Sun is 
  a simulation of those planets actual orbit and positioning of the Sun speed increased at a ratio of roughly 70%.
</p>
</div>
