@import "~bootstrap/dist/css/bootstrap.min.css";



.links a{
  font-size: 30px;
  color: #3d535f;
  margin: 25px 10px;
}
.nav-item{
  list-style: none;
  margin-right: 2em;
}

.nav-item a{
  text-decoration: none;
  color: black;
}

.nav-item:first-child{
  margin-right: auto;
  margin-left: 2rem;
}
