@import "~bootstrap/dist/css/bootstrap.min.css";
.navjj {
  background: bisque;
}
.nav-list{
  display: flex;
  background: white;
  box-shadow: 0px 0px 10px;
  margin: 0;
  padding: 1rem 0;
  justify-content: flex-end;
  align-items: center;
}

.p{
  color: whitesmoke;
}

.h5{
  color: whitesmoke;
}
.h5{
  color: whitesmoke;
}
.h3{
  color: whitesmoke;
}
.h2{
  color: whitesmoke;
}
.h1{
  color: whitesmoke;
}

.nav-item{
  list-style: none;
  margin-right: 2em;
}

.nav-item a{
  text-decoration: none;
  color: black;
}

.nav-item:first-child{
  margin-right: auto;
  margin-left: 2rem;
}
