<nav class="navbar navbar-expand-lg fixed-top" style="background: white;box-shadow: 2px 5px;">
  <div class="container" >
    <a class="navbar-brand" href="https://jabrealjohnson.com/">
      <img
        src="assets/duck-4.jpg"
        height="70" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="margin-right: 1em;" id="navbarNav">
      <ul class="navbar-nav ms-auto text-primary">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
             data-toggle="dropdown" aria-expanded="false">
            Workshops
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Psychological Safety</a></li>
            <li><a class="dropdown-item" href="#">Impact & Story Mapping</a></li>
            <li><a class="dropdown-item" href="#">DevOps to Transformation</a></li>
            <li><a class="dropdown-item" href="#">Jira & Jira Align Best Practices</a></li>
            <li><a class="dropdown-item" href="#">Scaling Agile</a></li>
            <li><a class="dropdown-item" href="#">Business Strategy</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
             data-toggle="dropdown" aria-expanded="false">
            Speaking Engagements
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li><a class="dropdown-item" href="#">Atlassian Stack</a></li>
            <li><a class="dropdown-item" href="#">Psychological Safety</a></li>
            <li><a class="dropdown-item" href="#">Objectives and Key Results</a></li>
            <li><a class="dropdown-item" href="#">Impact and Story Mapping</a></li>
            <li><a class="dropdown-item" href="#">Modern Software Engineering</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
             data-toggle="dropdown" aria-expanded="false">
            About Me
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <li><a class="dropdown-item" href="#" routerLink="/resume">My Resume</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/engineering">DIY Projects</a></li>
            <li><a class="dropdown-item" href="#">Social Activism</a></li>
            <li><a class="dropdown-item" href="#">Coaching</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- footer -->
<footer class="row py-3">
  <div class="col-md-7" >
    <ul class="nav" style="">
      <li class="nav-item">
          <div class="links" style="display: flex; padding-left: 0.5em;">
            <a href="https://www.youtube.com/channel/UCiY5OE409kza3seZoF_TKlQ"><i><fa-icon [icon]="faYoutube" style="color: red"></fa-icon></i></a>
            <a href="https://twitter.com/jabrealj"><i><fa-icon [icon]="faTwitter" style="color: cornflowerblue"></fa-icon></i></a>
            <a href="https://aws.amazon.com"><i><fa-icon [icon]="faAws" style="color: orange"></fa-icon></i></a>
            <a href="https://github.com/jabrealmoe"><i><fa-icon [icon]="faGithub" style="color: black"></fa-icon></i></a>
          </div>
      </li>
    </ul>
  </div>
</footer><!-- /footer -->
