<!-- Toolbar -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navjj">
<ul class="nav-list">
  <li class="nav-item"><a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFoalcIHMZEYK4qTbpKbJMT_A3xbH32TwJbTHbtZLxowwC2pB3d9h-Zvl374gvUFIyCbI&usqp=CAU" height="70"></a> </li>
  <li class="nav-item"><a href="#" routerLink="/">About</a> </li>
  <li class="nav-item"><a href="#" routerLink="/engineering">Engineering</a> </li>
  <li class="nav-item"><a href="#" routerLink="/resume">Resume</a> </li>
  <li class="nav-item"><a href="#" routerLink="/workshops">Workshops</a> </li>
  <li class="nav-item"><button type="button" class="btn btn-primary">Donate</button> </li>
</ul>
</nav>

<router-outlet></router-outlet>
