<div class="container" id="resume">
  <br>
  <br>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>If you adopt only one agile practice let it be retrospectives. Everything else will follow.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">Woody Zuill</cite>
    </figcaption>
  </figure>
  <br>
  <br>
  <hr>
  <div class="row">
    <div class="container" id="summary">
      <p class="lead">
        * I am skilled at building great products and teams in the Social Media, Financial, Insurance and Technology
        industries.<br>
        * I am an outcome focused business and technology coach, that can work with management teams to help
        understanding and adoption of modern lean and agile processes. My focus is enterprise transformations.
      </p>
      <br>

    </div>
    <br>
    <div class="col-md p-3">
      <h5>Hands on Coaching</h5>
      <p>Building Awesome Product Teams<br>
        Scrum in an Hour <br>
        Agile Modeling <br>
        Outcomes vs Outputs <br>
        Backlog Refinement <br>
        Story Mapping Workshop<br>
        Impact Mapping Workshop<br>

    </div>
    <div class="col-md p-3">
      <h5>Engineering Training</h5>
      <p>DevOps<br>
        Docker, Kubernetes & Serverless<br>
        Linear Regression<br>
        Logistic Regression<br>
        Agile Development <br>
        Git & Branching Strategies<br>
        Machine Learning<br>
        Shift Left Testing</p>
    </div>
    <div class="col-md p-3">
      <h5>Mentoring</h5>
      <p>Psychological Safety, from Leadership to Team<br>
        Building Leaders with Integrity<br>
        Funding Products, not Projects<br>
        Organizational Design Implications of LeSS<br>
        Self Designing Teams workshop<br>
        Hire Slow, Fire Fast<br>
        Systems Thinking</p>
    </div>


  </div>
  <div class="row">
    <div class="col-md p-3">
      <h5>Hands on Programming</h5>
      <p>Java<br>
        Python<br>
        Scala<br>
        Angular<br>
        Shell Scripting<br>
        C++<br>
        Typescript<br>
        Javascript<br>
        Groovy<br>
        Golang<br>
      </p>

    </div>
    <div class="col-md p-3">
      <h5>Hands on Cloud Training</h5>
      <p>Amazon Web Services (AWS)<br>
        Cloudformation Templates<br>
        Lambda & Serverless Architecture<br>
        Microservices<br>
        CDK<br>
        Google Cloud Platform<br>
        Microsoft Azure<br>
        Gitlab<br>
        Github (Actions)<br>
      </p>
    </div>
    <div class="col-md p-3">
      <h5>Ticket Tracking & Administration</h5>
      <p>Jira & most Plugins<br>
        ServiceNow - ITSM & ITIL<br>
        TFS<br>
        Jira Align<br>
        Trello<br>
        Confluence<br>
        Rally<br>
        Monday.com<br>
        Version One</p>
    </div>
  </div>
  <div class="row">
    <br>

    <br>
    <br>
    <hr>
    <div class="container">
      <h3>Consulting Experiences</h3>
      <br>
      <br>
      <h5>Banking and Finance</h5>
      <h6>Wells Fargo</h6>
      <p class="lead">Build a Product oriented organization focused on customer centricity<br>
        Facilitation of many workshops, training sessions, program increment (PI) planning events<br>
        Build Agile teams around regulatory products and controls, that can support domestic and international banking products
        <br>
        Coach C suite leadership towards product aligned teams, product areas, funding model(s), and lean and agile backlog refinement strategies<br>
        Design learning journeys at scale for Leadership, Middle Management (Product Area) and Team<br>
        Coach teams on good Engineering practices in the industry related to testing, source control management and
        DevOps architectures<br>
      </p>
      <br>
      <h6>Bank of America</h6>
      <p class="lead">Develop world class software products for real estate and investment banking<br>
        Design, Install, Integrate application software into automated build pipelines for CI/CD<br>
        Build deployment strategies for microservice architectures to inclued e2e unit test, integration test, to
        production deployment<br>
      </p>
      <br>
      <br>
      <h5>Social Media</h5>
      <h6>Twitter</h6>
      <p class="lead">
        Provide Team, Program and Product transformation coaching in scaled agile for Kanban and Scrum teams<br>
        Lead strategy for MLOps rollout for machine learning teams to benefit from automated pipelines<br>
        Design quarterly coaching plan for team(s) preparing to enter Engineering Dojo<br>
        Coach, Traing, Mentor Data Engineers in good practices for engineering, continuous integration and delivery<br>
        Develop and Implement annual maturity assessment across teams and coaching plan to reach engineering north
        star(s)<br>
      </p>
      <br>
      <h6>Pinterest</h6>
      <p class="lead">
        Conduct workshops, coaching, training and mentoring leadership in Objectives and Key Results (OKRs)<br>
        Design, Install, support process for aligning strategy to execution of work and tracking outcomes<br>
        Increase enterprise wide adoption of Atlassian Jira software as the system of record (SOR) across the
        organization<br>
        Coach team members in modern Engineering practices for machine learning and continuous integration and
        delivery<br>
      </p>
      <br>
      <br>
      <h5>Insurance</h5>
      <h6>Cigna Health</h6>
      <p class="lead">Agile 101 level coaching, with Team, Program, and Portfolio (C-Suite Leadership)<br>
        Facilitate training and coaching engagements with teams around good practices for building CI/CD pipelines for
        Gitlab<br>
        Coach teams on good engineering strategies to adapt cloud technologies (Kubernetes, Openshift, Quay, Docker,
        Github)<br>
        Provide feedback and design organizational products using, canvas and other tools such as Agile-Craft (Jira
        Align)<br>
        Conduct architecture review and develop software with Engineers using Spring Boot, Angular, Golang, Python and
        more<br>
        Coach teams on TDD activities, from integration of Gherkin language in gathering acceptance criteria to
        deployment in production<br>
      </p>
      <br>
      <h6>Hudson Insurance Group</h6>
      <p class="lead">Provide Product, Engineering and Agile coaching support to C-Suite leadership team<br>
        Build engineering teams and strategies to adapt cloud technologies for Enabler products<br>
        Facilitate quarterly planning and cabinet meetings across programs and products<br>
        Coach Portfolio and Program Management Office towards adoption of Shift Left test strateghy<br>
        Plan, Prioritize, staff for engineering teams between US, India<br>
        Migrate Jira to cloud using Atlassian Standard Infrastructure<br>
      </p>
      <br>
      <br>
      <h5>Technology</h5>
      <h6>Dell</h6>
      <p class="lead">Build Engineering teams to support adaptation to Cloud strategy and adapt Pivotal model and
        tools<br>
        Conduct maturity analysis on teams based on usage of engineering practices and tools to align with
        organizational strategy<br>
        Conduct bi-weekly refinement activities, across 6 engineering teams and 13 products<br>
        Build product roadmap aligned to CAPEX, OPEX rules and expenditures<br>
        Plan, Prioritize, staff for engineering teams between US, India and Kuala Lumpur<br>
        Active participation in Engineering strategy for teams at scale across multiple line of business<br>
      </p>
      <br>
      <h6>Atlassian</h6>
      <p class="lead">Build Engineering teams to support Atlassian products and platforms (Jira and Confluence)<br>
        Plan, prioritize, manage and support Engineering teams between Europe(Amsterdam) and Brazil with rollout of new
        products<br>
        Develop Knowledge Base community and author articles in support of rollout strategy for Jira 7 and Confluence 6X
      </p>
      <br>
      <h6>Oracle</h6>
      <p class="lead">Develop software patches for Solaris release 5.8<br>
        Provide engineering support to customers utilizing Solaris, Redhat, HP-Unix as well as a variety of operating
        system specific integrated products<br>
        Develop software using C++, JAVA, HTML, CSS, Javascript, Python, Perl in support of Hudson continuous
        integration pipelines<br>
        Contribute best practices engineering documents to Knowledge Base portal
      </p>
      <br>
      <h5>Telecom</h5>
      <h6>Cox Communications</h6>
      <p class="lead">Setup Atlassian tools (Jira), and build strategy for teams to onboard to this technology<br>
        Design Agile strategy for vertical line of business (LOB) across Cox Middleware services<br>
        Coach leaders and developers on agile methods and ceremonies across multiple teams and lines of business<br>
        Plan, Install, Configure Jira and Confluence to virtual machine based environment on Redhat Linux<br>
        Use JAVA 1.11 to design custom reporting for Jira, so leadership could have a custom rolled-up report across the
        IT Portfolio<br>
      </p>
      <br>
      <br>
      <h5>Real Estate Technology</h5>
      <h6>WeWork</h6>
      <p class="lead">Setup Atlassian tools (Jira), and build strategy for teams to onboard to this technology<br>
        Design Agile strategy for vertical line of business (LOB) across Wework new business lines<br>
        Coach leaders on daily stand-up (DSU) across multiple teams and lines of business<br>
        Plan, Prioritize, staff for engineering teams between US, India<br><br>
      </p>
    </div>
    <div class="container">
      <h4>Education</h4>
      <p>Double Bac. Georgia State Univeristy - Class of 2010</p>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
</div>