<div class="container" id="resume">
  <br>
  <br>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>If you adopt only one agile practice let it be retrospectives. Everything else will follow.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">Woody Zuill</cite>
    </figcaption>
  </figure>
  <br>
  <br>
  <h1 class="text-center">Consulting Engagements</h1>
  <br>
  <div class="row"><div class="container" id="summary">
    <p class="lead">
      * I am skilled at building great products and teams in the Social Media, Financial, Insurance and Technology industries <br>
      * I am an outcome focused business and technology coach, that can lead an organization towards transformation and predictable outcomes
    </p>
    <br>

  </div>
    <h4>Skills</h4>
    <br>
    <br>
    <div class="col-md p-3" >
      <h5>Coaching</h5>
      <p>Building awesome product teams for agility <br>
        Scrum in an Hour <br>
        Outcomes vs Outputs <br>
        Backlog Refinement <br>
        Product Ownership with outcomes that benefit everyone<br>

    </div>
    <div class="col-md p-3" >
      <h5>Training</h5>
      <p>DevOps Engineering <br>
        Building Continuous Integration and Deployment Pipelines <br>
        Distributed Version Control Systems (DVCS)... Git <br>
        Scaling automation towards a Cloud business model<br>
        Shift Left with Testing for Test Driven Development</p>
    </div>
    <div class="col-md p-3" >
      <h5>Mentoring</h5>
      <p>Psychological Safety, from Leadership to Team<br>
        Building leaders, that lead with Integrity<br>
        Fund the Product, not the Project<br>
        Focus on building great Product oriented teams<br>
        Hire Slow, Fire Fast</p>
    </div>

  </div>
  <div class="row">
    <div class="col-md p-3" >
      <h5>Engineering Languages</h5>
      <p>Java<br>
        Python<br>
        Scala<br>
        Angular<br>
        Shell Scripting<br>
        C#<br>
        Typescript<br>
        Javascript<br>
        Groovy<br>
      </p>

    </div>
    <div class="col-md p-3" >
      <h5>Cloud Deployment</h5>
      <p>Amazon Web Services<br>
        Cloudformation Templates<br>
        Terraform<br>
        CDK<br>
        Google Cloud Platform<br>
        Microsoft Azure<br>
        Linode<br>
        Github (Actions)<br>
      </p>
    </div>
    <div class="col-md p-3" >
      <h5>Atlassian</h5>
      <p>Jira<br>
        Confluence<br>
        Bitbucket<br>
        Bamboo<br>
        Jira Align<br>
        Trello<br>
        Marketplace Plugins</p>
    </div>
  </div>
  <div class="row">
    <br>

    <br>
    <br>
    <div class="container">
      <h4>Professional Experience</h4>
      <br>
      <br>
      <h5>Banking and Finance</h5>
      <p class="lead">Build a Product oriented organization focused on customer centricity<br>
        Facilitation of many workshops, training sessions, program increment (PI) planning events<br>
        Build Agile teams around regulatory products and controls, that can support domestic and international products <br>
        Coach C suite leadership towards product oriented organizations, funding model, product team strategy<br>
        Design learning journeys for Leadership, Middle Management (Product Area) and team<br>
        Coach teams on good Engineering practices in the industry related to testing, source control management and DevOps architectures<br>
      </p>
      <br>
      <br>
      <h5>Health Insurance Technology</h5>
      <p class="lead">Agile 101 level coaching, with Team, Program, and Portfolio (C-Suite Leadership)<br>
        Facilitate training and coaching engagements with teams around good practices for building CI/CD pipelines for Gitlab<br>
        Coach teams on good engineering strategies to adapt cloud technologies (Kubernetes, Openshift, Quay, Docker, Github)<br>
        Provide feedback and design organizational products using, canvas and other tools such as Agile-Craft (Jira Align)<br>
        Conduct architecture review and develop software with Engineers using Spring Boot, Angular, Golang, Python and more<br>
        Coach teams on TDD activities, from integration of Gherkin language in gathering acceptance criteria to deployment in production<br>
      </p>
      <br>
      <br>
      <h5>Technology</h5>
      <p class="lead">Build Engineering teams to support adaptation to Cloud strategy and adapt Pivotal model and tools<br>
        Conduct maturity analysis on teams based on usage of engineering practices and tools to align with organizational strategy<br>
        Conduct bi-weekly refinement activities, across 6 engineering teams and 13 products<br>
        Build product roadmap aligned to CAPEX, OPEX rules and expenditures<br>
        Plan, Prioritize, staff for engineering teams between US, India and Kuala Lumpur<br>
        Active participation in Engineering strategy for teams at scale across multiple line of business<br>
      </p>
      <br>
      <br>
      <h5>Telecommunications</h5>
      <p class="lead">Setup Atlassian tools (Jira), and build strategy for teams to onboard to this technology<br>
        Design Agile strategy for vertical line of business (LOB) across Cox Middleware services<br>
        Coach leaders on daily stand-up (DSU) across multiple teams and lines of business<br>
        Plan, Install, Configure Jira and Confluence to virtual machine based environment on Redhat Linux<br>
        Plan, Prioritize, staff for engineering teams between US, India<br>
      </p>
      <br>
      <br>
      <h5>Insurance</h5>
      <p class="lead">Setup Atlassian tools (Jira), and build strategy for teams to onboard to this technology<br>
        Design Agile strategy for vertical line of business (LOB) across Hudson<br>
        Coach Program Management Office (PMO) on how to maximize the effectiveness of Jira<br>
        Plan, Install, Configure Jira and Confluence to virtual machine based environment on Ubuntu<br>
        Plan, Prioritize, staff for engineering teams between US, India<br>
        Migrate Jira to cloud using Atlassian Standard Infrastructure<br>
        Use JAVA 1.11 to design custom reporting for Jira, so leadership could have a custom rolled-up report across the IT Portfolio<br>
      </p>
      <br>
      <br>
      <h5>Real Estate Technology</h5>
      <p class="lead">Setup Atlassian tools (Jira), and build strategy for teams to onboard to this technology<br>
        Design Agile strategy for vertical line of business (LOB) across Wework new business lines<br>
        Coach leaders on daily stand-up (DSU) across multiple teams and lines of business<br>
        Plan, Install, Configure Jira and Confluence to virtual machine based environment on Redhat Linux<br>
        Plan, Prioritize, staff for engineering teams between US, India<br><br>
      </p>
    </div>
    <div class="container">
      <h4>Education</h4>
      <p>Double Bac. Georgia State Univeristy - Class of 2010</p>
    </div>
  </div>

  <h4>My resume</h4>
  <div class="btns">
    <a class="btn btn-secondary btn-lg" href="assets/JJ-CV.pdf">Click to Download</a>
  </div>
</div>
