<div class="container-fluid" style="padding-top: 100px; margin: 50px">
  <h2>Atlassian Tools Stack</h2>
  <p>Atlassian has a robust set of tools for managing an organizational process complete with support for Agile and DevOps Engineering.
  Among their flagstaff set of products are Jira, Confluence, Bitbucket, Bamboo, Fisheye, Crucible, Trello and their enterprise scaling product,
  Jira Align!</p>

  <h3>Jira</h3>
  <h3>Confluence</h3>
  <h3>Jira Align</h3>
  <h3>Trello</h3>
  <h3>Bitbucket</h3>
  <h3>Bamboo</h3>
  <h3>Fisheye</h3>
  <h3>Crucible</h3>

</div>
