@import "~bootstrap/dist/css/bootstrap.min.css";

.containj{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#info {
  position: absolute;
  top: 300px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
  background: blue;
  border: palegreen 2em dotted;
  color: deeppink;
}
#para1 {
  font-size: 40px
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  z-index: 111;
  line-height: 80px;
}




.navItems{
  display: flex;
}

.navItems li{
  list-style: none;
  margin: 0 15px;
}

.navItems li a{
  font-size: 25px;
  color: #3d535f;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}
.navItems li:hover a,
.links a:hover{
  color: #7f00ff;
}



